# GLM相关配置
GLM_BASE_URL=https://open.bigmodel.cn/api/anthropic
GLM_API_KEY=

# LANGSMITH配置
LANGSMITH_API_KEY=
LANGCHAIN_TRACING_V2=true
LANGCHAIN_PROJECT=langgraph-1x

# 千问（DashScope）Embedding
ALI_DASHSCOPE_API_KEY=
ALI_EMBEDDINGS_MODEL=text-embedding-v3

# PostgreSQL（Docker 启动的 pgvector）
DB_URI=

# langfuse配置
LANGFUSE_SECRET_KEY="sk-lf-a076e76b-e62b-4c55-a97d-57805233c21d"
LANGFUSE_PUBLIC_KEY="pk-lf-1035bff2-e065-495e-9945-389da6a1559d"
LANGFUSE_BASE_URL="https://us.cloud.langfuse.com"